html {
  background-color: lightGray;
  font: bold 20px 'Century Gothic', sans-serif;
  color: black;
}
h1,h2 {
  font: normal 50px 'Century Gothic', sans-serif;
  margin: 0;
  text-shadow: -5px 6px blue, 5px 0 red;
}
img {
  border: 5px ;
  margin: 10px;
  width: 280px;
  box-shadow: 0 15px 15px 10px yellow;
  p {
  margin: 10px 0 15px 0;
  text-align: justify;
}
header,footer {
  background-color: lightGray;
  border: solid;
  text-align: center;
  margin: 0 10px;
}
